page {
  width: 100%;
  height: 100%;
  background-color: #101010;
}
.addTeam{
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  .addTeamNav{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 120px;
    .teamInput{
      margin-top: 24px;
    }
    .teamBtns{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
      margin-top: 36px;
      .btnLeft{
        width: 40%;
        height: 72px;
        border-radius: 36px;
        color: #fff;
        background-color: #6236FF;
        line-height: 72px;
        text-align: center;
        font-weight: bold;
      }
      .btnRight{
        width: 40%;
        height: 72px;
        border-radius: 36px;
        color: #101010;
        background-color: #e7e7e7;
        line-height: 72px;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}


