page{
  width: 100%;
  height: 100%;
  background-color: #101010;
}
.platformLogin {
  position: relative;
  width: 100%;
  .logo {
    margin-top: 64px;
    width: 398px;
    height: 135px;
  }
  .arrangeWorkBoxTitle{
    color: #fff;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 92px;
  }
  .desc{
    display: block;
    width: calc(100% - 64px);
    padding: 0 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 24px;    
  }
  .operatingArea {
    width: 100%;
    padding: 0px 32px;
    font-size: 28px;
    .sendCode {
      display: flex;
      align-items: center;
      margin-top: 20px;
      .sendCodeInput {
        flex: 1;
      }

      .sendCodeBtn {
        background-color: #6236FF;
        width: 180px;
        height: 90px;
        font-size: 28px;
        border-radius: 40px;
        text-align: center;
        line-height: 90px;
        color: #fff;
        margin-left: 12px;
      }
    }

    .submit {
      margin-top: 20px;
      width: 100%;
      height: 88px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #6236FF;
      font-size: 28px;
      color: #fff;
    }

    .noLogin {
      margin-top: 12px;
      width: 100%;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      color: #fff;
    }
  }
}