.cellBox {
  border-bottom: 1px solid #ebedf0;
  .cellItem {
    font-size: 28px;
  }
}

.cellCenter {
  margin-top: 20px;
  height: 88px;
  line-height: 88px;
  font-size: 28px;
  text-align: center;
  border-top: 1px solid #ebedf0;
  border-bottom: 1px solid #ebedf0;
}
