.file {
  padding: 12px 32px 52px;
  color: #fff;
}

.line {
  margin-top: 20px;
}

.h1 {
  font-size: 36px;
  font-weight: bold;
}

.h1Center {
  width: 100%;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.textBold {
  font-size: 28px;
  font-weight: bold;
}

.text {
  font-size: 28px;
}
