page {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.tabsContent {
  padding: 20px 32px;
}

.controls {
  display: flex;
  gap: 20px;
  padding: 20px 32px 12px;
  border-top: 2px solid #ededed;

  .button {
    flex: 1;
  }
}