page {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}
.custom-tabs {
  :global(.nut-tabs__titles) {
    background-color: red;
  }

  // 修改每个 tab 的样式
  :global(.nut-tabs__titles-item) {
    color: #888;
    font-size: 14px;

    &.active {
      color: #ff4d00;
      font-weight: bold;
    }
  }

  // 修改底部滑块线条
  :global(.nut-tabs__line) {
    background-color: #ff4d00;
    height: 3px;
    border-radius: 2px;
  }
}