page{
  width: 100%;
  height: 100%;
  background-color: #101010;
}
.platformLogin {
  position: relative;
  width: 100%;
  .logo {
    margin-top: 64px;
    width: 398px;
    height: 135px;
  }
  .arrangeWorkBoxTitle{
    color: #fff;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 92px;
  }
  .desc{
    display: block;
    width: calc(100% - 64px);
    padding: 0 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 24px;    
  }
  .ercodeBox{
    width: 100%;
    margin-top: 24px;
    .popupImage{
      width: 500px;
      height: 500px;
      padding: 12px;
      background-color: #fff;
      border-radius: 8px;
    }
    .mask{
      position: absolute;
      width: 500px;
      height: 500px;
      background-color:rgba(0,0,0,0.7);
      border-radius: 8px;
      top:50%;
      left:50%;
      margin-left: -250px;
      margin-top: -250px;
      text-align: center;
      line-height: 500px;
      font-size: 32px;
      color: #fd9947;
    }
  }
  .popupTime{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    line-height: 88px;
  }
  .saveBtn{
    font-size: 36px;
    font-weight: bold;
    background: #2E2E2E;
    padding: 16px 32px;
    border-radius: 56px;
    color: #fff;
    background: #6236FF;
    margin-top: 16px;
  }
  .saveBtnNo{
    background: #fff;
    color: #101010;
    opacity: 0.7;
    pointer-events: none;
  }
  .secondLogin{
    width: 100%;
    margin-top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .secondLoginTitle{
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }
  .secondLoginInput{
    width: 572px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
  }
  .popupTimeB{
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
  }
}