.customColor {
  --rate-icon-empty-color: #eee;
  --rate-icon-full-color: #ffd21e;
}
.custom{
  background: #101010;
  :global(.taroify-cell-group){
    background: #101010;
    color: #fff;
  }
  :global(.taroify-cell){
    background: #2e2e2e;
    color: #fff;
  } 
  :global(.taroify-button--round){
    background: #6236FF;
    color: #fff;
    border: none;
  }
  :global(.taroify-cell::after){
    border: none;
  }
  :global(.taroify-form-label){
    color: #fff;
  }
  :global(.taroify-hairline--top-bottom::after){
    border: none;
  }
  :global(.taroify-uploader__upload){
    background-color: #101010;
    border-radius: 8px;
  }

}
