.container {
  width: 100%;
  height: 70vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsList {
  display: flex;
  align-items: center;
}

.buttons {
  width: 120px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    border: 2px solid #A2A2A2;
  }
  &.main {
    color: #fff;
    background-color: #4f46e5;
  }
  &.submit {
    border: 1px solid #eee;
  }
  &.marginLeft {
    margin-left: 12px;
  }
}

.scrollView {
  flex: 1;
  min-height: 0;
  padding: 0 30px;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  ::-webkit-scrollbar {
    width: 0;
  }
  .item {
    width: 220px;
    height: 220px;
    margin: 8px 8px 0 0;
    border-radius: 8px;
    border: 4px solid #eee;
    &.active {
      border: 8px solid #fd9947;
    }
    .itemImage {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
